{{- range $name, $mirror := .Values.gitMirrors }}
{{- if $mirror.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: git-mirror-{{ $name }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "gastown.labels" $ | nindent 4 }}
    app.kubernetes.io/component: git-mirror
    gastown.io/rig: {{ $name }}
spec:
  type: ClusterIP
  ports:
    - name: git
      port: 9418
      targetPort: git
      protocol: TCP
  selector:
    {{- include "gastown.selectorLabels" $ | nindent 4 }}
    app.kubernetes.io/component: git-mirror
    gastown.io/rig: {{ $name }}
{{- end }}
{{- end }}
